@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
}
.Header ul {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 40px;
  padding: 0 5%;
}
ul li {
  margin: 5px 15px;
  list-style: none;
  position: relative;
  right: 0;
}
ul li a {
  text-decoration: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500px;
  color: #21243d;
  font-size: 20px;
  font-style: normal;
  line-height: 29px;
}
.HomeMe {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 200px 10% 200px 10%;
  /* background-color: red; */
}
.HomeMe div:nth-of-type(2) {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.HomeMe div:nth-of-type(1) h1,
h2 {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 43px;
  line-height: 60px;
  color: #21243d;
}
.HomeMe div:nth-of-type(1) p {
  font-family: "Heebo", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
  max-width: 550px;
  color: #21243d;
  margin: 20px 0;
}
.HomeMe div:nth-of-type(1) a {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  background: #ff6464;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
}
.HomeMe div:nth-of-type(1) a:hover {
  background-color: #ffffff;
  color: #ff6464;
  border: 1px solid #ff6464;
  transition: 0.5s ease-out;
}
.HomeMe div:nth-of-type(2) img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

/* Skills */
.Skills {
  height: 95vh;
  padding: 0 10%;
  background-color: #edf7fa;
}
.Skills h1 {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  color: #ff6464;
}
.Skills1 {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  row-gap: 10px;
  height: 400px;
}

.Skills img {
  width: 100px;
  height: 100px;
  padding: 10px 5px;
  border-radius: 5px;
  /* border: 1px solid #000; */
}

/* Kontakt */

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea {
  height: 100px;
}

input[type="submit"] {
  background-color: #ff6464;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 30px;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  color: #ff6464;
  border: 1px solid #ff6464;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  border-radius: 5px;
  height: 450px;
  padding: 100px 0 100px 0;
}
.container h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 500px;
  color: #21243d;
  font-size: 40px;
  padding-bottom: 20px;
}
.Kontakt {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #edf7fa;
  padding: 0 10%;
}
.Social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Social img:hover {
  transform: rotate(360deg);
  transition: 1s;
}

@media only screen and (max-width: 600px) {
  .HomeMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 50px 0 50px 0;
  }

  .HomeMe div:nth-of-type(1) h1,
  h2 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 30px;
  }
  .HomeMe div:nth-of-type(1) p {
    font-size: 0.9rem;
    text-align: center;
    max-width: 300px;
    line-height: 20px;
  }
  .HomeMe div:nth-of-type(1) a {
    margin: 0 auto;
    display: block;
    width: 40%;
    text-align: center;
  }
  .Skills {
    height: 50vh;
  }

  .Skills h1 {
    font-size: 30px;
  }
  .Skills1 h2 {
    display: inline-block;
  }
  .Skills img {
    width: 30px;
    height: 30px;
  }
  .Kontakt {
    display: grid;
    grid-template-columns: 100%;
  }
  .container {
    height: 400px;
    padding: 30px 0 50px 0;
  }
  .Social img {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 768px) {
}
